@include pc-layout {
    #main {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 4;
        .celeb {
            position: absolute;
            $width: 677px;
            $height: 44px;
            width: $width;
            height: $height;
            bottom: calc(20% - #{$height / 2});
            left: calc(50% - #{$width / 2});
            background-image: url(../assets/celeb.png);
            background-position: center;
            background-size: cover;
        }
        .kmn {
            position: absolute;
            $width: 276px;
            $height: 276px;
            width: $width;
            height: $height;
            top: calc(50% - #{$height / 2});
            left: calc(50% - #{$width / 2});
            background-image: url(../assets/kmn.png);
            background-position: center;
            background-size: cover;
        }
        .icon {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            a:nth-child(1) {
                position: absolute;
                $width: 400px / 8;
                $height: 400px / 8;
                width: $width;
                height: $height;
                top: calc(50% - #{$height / 2});
                left: calc(25% - #{$width / 2});
                background-color: #000;
                border-radius: 20%;
                background-image: url(../assets/tw.png);
                background-position: center;
                background-size: cover;
                &:hover {
                    animation: scaleup 0.2s ease 0s forwards;
                }
            }
            a:nth-child(2) {
                position: absolute;
                $width: 400px / 8;
                $height: 400px / 8;
                width: $width;
                height: $height;
                top: calc(50% - #{$height / 2});
                right: calc(25% - #{$width / 2});
                background-color: #000;
                border-radius: 20%;
                background-image: url(../assets/gh.png);
                background-position: center;
                background-size: cover;
                &:hover {
                    animation: scaleup 0.2s ease 0s forwards;
                }
            }
        }
    }
    @keyframes scaleup {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2);
        }
    }
}