@keyframes s2-title-slideright {
    from {transform: translateX(0%);}
    to {transform: translateX(100%);}
}
@keyframes bigger-scene-1 {
    from{transform: scale(0);}
    to{transform: scale(1.5);}
}